@model OrderModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<br>
<div class="card text-white bg-primary col-12 align-items-center">
    <div class="row g-0 w-100 p-3">
        <div class="card-header"><h1>Orders</h1></div>
        <div class="card-body w-100 p-0 d-flex flex-column align-items-center">
            <div class="table-container" style="height:50vh; background-color:lightgrey; overflow-y: auto; width:100%; border-radius:.375rem">
                <table class="table table-hover">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            <th scope="col">OrderID</th>
                            <th scope="col">Table No.</th>
                            <th scope="col">Order Time</th>
                            <th scope="col">Order Price</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listViewOrderDetails)
                        {
                            <tr class="table-active" onclick="selectRow(this)">
                                <th scope="row">@item.orderID</th>
                                <td>@item.orderTableNo</td>
                                <td>@item.orderDate</td>
                                <td>@item.orderPrice</td>
                                <td>@item.orderStatus</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>


<div class="btm-btns d-flex align-content-center justify-content-around">
    <button class="btn btn-primary btn-lg">Order ID:</button>
    <input type="text" class="form-control" id="selectedOrderIdTextBox" readonly
           style="display: inline-block; width: 100px; margin-right: 10px;
              background-color:#20bc9c; color:white; font-size:23px; height: fit-content;">
    <button type="button" class="btn btn-primary btn-lg" onclick="payBill()">Pay Bill</button>
    <button type="button" class="btn btn-primary btn-lg"><a asp-area="" asp-controller="EditOrders" asp-action="EditOrders">Edit Order</a></button>
    <button type="button" class="btn btn-primary btn-lg" id="cancelOrderBtn">Cancel Order</button>
</div>

<script>
    document.getElementById('cancelOrderBtn').addEventListener('click', function () {
        showConfirmationAlert('Are you sure you want to cancel this order?', function () {
            console.log('Order canceled');
        });
    });

    // Function to handle row selection
    function selectRow(row) {
        // Deselect previous row
        var selectedRows = document.querySelectorAll('tr.table-selected');
        selectedRows.forEach(function (selectedRow) {
            selectedRow.classList.remove('table-selected');
        });

        // Select the clicked row
        row.classList.add('table-selected');

        // Get the selected orderID
        selectedOrderID = row.querySelector('th').textContent;

        //Update the OrderID in the textbox
        document.getElementById('selectedOrderIdTextBox').value = selectedOrderID;
    }

    // Function to handle Pay Bill button click
    function payBill() {
        if (selectedOrderID) {
            console.log('Selected OrderID:', selectedOrderID);
            // Pass the selected orderID to the PayBill page
            window.location.href = '/PayBill/PayBill?orderID=' + selectedOrderID;
        } else {
            alert('Please select an order to pay.');
        }
    }
</script>
